In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
metro_df = pd.read_csv("metro_clean.csv")
metro_df

          date                               hospital     cylinder  units
0    1/01/2017   Armadale-Kelmscott Memorial Hospital  cylinder_f8      1
1    1/01/2017                       Bentley Hospital   cylinder_e      2
2    1/01/2017                 Fiona Stanley Hospital  cylinder_f8      2
3    1/01/2017  Kalamunda District Community Hospital   cylinder_e      2
4    1/01/2017                  Osborne Park Hospital   cylinder_g      4
..         ...                                    ...          ...    ...
301  1/11/2021                  Osborne Park Hospital   cylinder_g      4
302  1/11/2021          Sir Charles Gairdner Hospital   cylinder_c      1
303  1/12/2021                 Fiona Stanley Hospital  cylinder_f8      1
304  1/12/2021                  Osborne Park Hospital   cylinder_g      2
305  1/12/2021            Rockingham General Hospital  cylinder_f8      1

[306 rows x 4 columns]

In [3]:
metro_df.rename(columns={"hospital":"name"}, inplace=True)
metro_df

          date                                   name     cylinder  units
0    1/01/2017   Armadale-Kelmscott Memorial Hospital  cylinder_f8      1
1    1/01/2017                       Bentley Hospital   cylinder_e      2
2    1/01/2017                 Fiona Stanley Hospital  cylinder_f8      2
3    1/01/2017  Kalamunda District Community Hospital   cylinder_e      2
4    1/01/2017                  Osborne Park Hospital   cylinder_g      4
..         ...                                    ...          ...    ...
301  1/11/2021                  Osborne Park Hospital   cylinder_g      4
302  1/11/2021          Sir Charles Gairdner Hospital   cylinder_c      1
303  1/12/2021                 Fiona Stanley Hospital  cylinder_f8      1
304  1/12/2021                  Osborne Park Hospital   cylinder_g      2
305  1/12/2021            Rockingham General Hospital  cylinder_f8      1

[306 rows x 4 columns]

In [4]:
metro_df['name'].unique()

array(['Armadale-Kelmscott Memorial Hospital', 'Bentley Hospital',
       'Fiona Stanley Hospital', 'Kalamunda District Community Hospital',
       'Osborne Park Hospital', 'Rockingham General Hospital',
       'Sir Charles Gairdner Hospital',
       'King Edward Memorial Hospital For Women', 'Royal Perth Hospital',
       "Perth Children's Hospital", 'METRO HEALTH SERVICE BOARD'],
      dtype=object)

In [5]:
metro_df = metro_df[metro_df['name'] != 'METRO HEALTH SERVICE BOARD']
metro_df

          date                                   name     cylinder  units
0    1/01/2017   Armadale-Kelmscott Memorial Hospital  cylinder_f8      1
1    1/01/2017                       Bentley Hospital   cylinder_e      2
2    1/01/2017                 Fiona Stanley Hospital  cylinder_f8      2
3    1/01/2017  Kalamunda District Community Hospital   cylinder_e      2
4    1/01/2017                  Osborne Park Hospital   cylinder_g      4
..         ...                                    ...          ...    ...
301  1/11/2021                  Osborne Park Hospital   cylinder_g      4
302  1/11/2021          Sir Charles Gairdner Hospital   cylinder_c      1
303  1/12/2021                 Fiona Stanley Hospital  cylinder_f8      1
304  1/12/2021                  Osborne Park Hospital   cylinder_g      2
305  1/12/2021            Rockingham General Hospital  cylinder_f8      1

[283 rows x 4 columns]

In [6]:
metro_df[['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 
          'cylinder_g', 'total']] = ["", "", "", "", "", "", ""]
metro_df

,date,name,cylinder,units,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,cylinder_f8,1,,,,,,,
1,1/01/2017,Bentley Hospital,cylinder_e,2,,,,,,,
2,1/01/2017,Fiona Stanley Hospital,cylinder_f8,2,,,,,,,
3,1/01/2017,Kalamunda District Community Hospital,cylinder_e,2,,,,,,,
4,1/01/2017,Osborne Park Hospital,cylinder_g,4,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
301,1/11/2021,Osborne Park Hospital,cylinder_g,4,,,,,,,
302,1/11/2021,Sir Charles Gairdner Hospital,cylinder_c,1,,,,,,,
303,1/12/2021,Fiona Stanley Hospital,cylinder_f8,1,,,,,,,
304,1/12/2021,Osborne Park Hospital,cylinder_g,2,,,,,,,
305,1/12/2021,Rockingham General Hospital,cylinder_f8,1,,,,,,,

In [7]:
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g', 'total']

for index, row in metro_df.iterrows():
    cylinder = row['cylinder']
    for item in cylinder_list:
        if item == cylinder:
            metro_df.loc[index, item] = row['units']
        else:
            metro_df.loc[index, item] = 0
    
metro_df

,date,name,cylinder,units,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,cylinder_f8,1,0,0,0,1,0,0,0
1,1/01/2017,Bentley Hospital,cylinder_e,2,0,0,2,0,0,0,0
2,1/01/2017,Fiona Stanley Hospital,cylinder_f8,2,0,0,0,2,0,0,0
3,1/01/2017,Kalamunda District Community Hospital,cylinder_e,2,0,0,2,0,0,0,0
4,1/01/2017,Osborne Park Hospital,cylinder_g,4,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...
301,1/11/2021,Osborne Park Hospital,cylinder_g,4,0,0,0,0,0,4,0
302,1/11/2021,Sir Charles Gairdner Hospital,cylinder_c,1,1,0,0,0,0,0,0
303,1/12/2021,Fiona Stanley Hospital,cylinder_f8,1,0,0,0,1,0,0,0
304,1/12/2021,Osborne Park Hospital,cylinder_g,2,0,0,0,0,0,2,0
305,1/12/2021,Rockingham General Hospital,cylinder_f8,1,0,0,0,1,0,0,0

In [8]:
merged_data = pd.DataFrame(columns={'date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g'})

purchase_dates = metro_df['date'].unique()
hospital_list = metro_df['name'].unique()
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']

for date in purchase_dates:
    for hospital in hospital_list:
        # did the current hospital have a purchase on this date         
        current_hosp = metro_df[metro_df['name'] == hospital]
        matched_purchase_dates = current_hosp[current_hosp['date'] == date]
        
        # if so, iterate through the purchases on this date and add to merged df        
        if (len(matched_purchase_dates) != 0):
                      
            # temp df to append to the final merged data
            new_row = pd.DataFrame(columns={'date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g'})
            new_row.loc[0, 'date'] = date
            new_row.loc[0, 'name'] = hospital
            
            # add each cylinder purchase to the new row and append
            for index, row in matched_purchase_dates.iterrows():
                for item in cylinder_list:
                    
                    if row[item] != 0:
                        new_row[item][0] = row[item]

                    elif (row[item] == 0) & (pd.isnull(new_row[item][0]) == True):
                        new_row.loc[0, item] = 0
                    
            merged_data = merged_data.append(new_row).reset_index(drop=True)
                        
merged_data = merged_data[['date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']]
merged_data

,date,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0
1,1/01/2017,Bentley Hospital,0,0,2,0,0,0
2,1/01/2017,Fiona Stanley Hospital,0,0,0,2,0,0
3,1/01/2017,Kalamunda District Community Hospital,0,0,2,0,0,0
4,1/01/2017,Osborne Park Hospital,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...
247,1/11/2021,Sir Charles Gairdner Hospital,1,0,0,0,0,0
248,1/11/2021,King Edward Memorial Hospital For Women,0,0,0,0,0,8
249,1/12/2021,Fiona Stanley Hospital,0,0,0,1,0,0
250,1/12/2021,Osborne Park Hospital,0,0,0,0,0,2
251,1/12/2021,Rockingham General Hospital,0,0,0,1,0,0

In [9]:
# Add total columns
final_df = merged_data.copy()
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']

# Helper function to return total 
def total_calculator(row):
    total = 0
    amount = 0
    
    for cylinder in cylinder_list:
        if cylinder == 'cylinder_c':
            amount = row[cylinder] * 1.75
        elif cylinder == 'cylinder_d':
            amount = row[cylinder] * 6.6
        elif cylinder == 'cylinder_e':
            amount = row[cylinder] * 16.8
        elif cylinder == 'cylinder_f8':
            amount = row[cylinder] * 233
        elif cylinder == 'cylinder_f9':
            amount = row[cylinder] * 223
        elif cylinder == 'cylinder_g':
            amount = row[cylinder] * 36.6
            
        total += amount
    
    return(float(total))

for row in range (0, len(final_df)):
    total = total_calculator(final_df.iloc[[row]])
    final_df.loc[row, 'total'] = total
    
final_df

,date,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0,233.00
1,1/01/2017,Bentley Hospital,0,0,2,0,0,0,33.60
2,1/01/2017,Fiona Stanley Hospital,0,0,0,2,0,0,466.00
3,1/01/2017,Kalamunda District Community Hospital,0,0,2,0,0,0,33.60
4,1/01/2017,Osborne Park Hospital,0,0,0,0,0,4,146.40
...,...,...,...,...,...,...,...,...,...
247,1/11/2021,Sir Charles Gairdner Hospital,1,0,0,0,0,0,1.75
248,1/11/2021,King Edward Memorial Hospital For Women,0,0,0,0,0,8,292.80
249,1/12/2021,Fiona Stanley Hospital,0,0,0,1,0,0,233.00
250,1/12/2021,Osborne Park Hospital,0,0,0,0,0,2,73.20
251,1/12/2021,Rockingham General Hospital,0,0,0,1,0,0,233.00

In [12]:
# Write to CSV
final_df.to_csv(outname, index=False, encoding='utf-8')

In [11]:
import subprocess
from sqlalchemy.engine.create import create_engine

engine = create_engine('postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na')

In [15]:
len(final_df)

252

In [10]:
import psycopg2

from sqlalchemy import create_engine
engine = create_engine('postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na')

final_df.to_sql("Purchases", engine)

In [14]:
from flask import Flask, jsonify, request
from flask import render_template, redirect, url_for
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na'
db = SQLAlchemy(app)

class Purchases(db.Model):
    purchase_id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(200))
    cylinder_c = db.Column(db.Integer)
    cylinder_d = db.Column(db.Integer)
    cylinder_e = db.Column(db.Integer)
    cylinder_f8 = db.Column(db.Integer)
    cylinder_f9 = db.Column(db.Integer)
    cylinder_g = db.Column(db.Integer)
    date = db.Column(db.String(200))
    total = db.Column(db.Float)

    def __repr__(self):
        return '<Name %r>' % self.purchase_id

purchase_query = Purchases.query.all()
purchase_data = [u.__dict__ for u in purchase_query]
for row in purchase_data:
    print(row)

C:\Users\Dale\anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:872: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5FA30>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 1, 'cylinder_g': 0, 'total': 234.75, 'cylinder_c': 1, 'purchase_id': 29, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01-03-2017'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5F9D0>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 0, 'cylinder_g': 0, 'total': 1.75, 'cylinder_c': 1, 'purchase_id': 30, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01-05-2017'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5F9A0>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 0, 'cylinder_g': 0, 'total': 1.75, 'cylinder_c': 1, 'purchase_id': 31, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01/06/2017'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5FAC0>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 0, 'cylinder_g': 0, 'total': 3.5, 'cylinder_c': 2, 'purchase_id': 32, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01-07-2017'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5FB20>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 1, 'cylinder_g': 3, 'total': 342.8, 'cylinder_c': 0, 'purchase_id': 33, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01-08-2017'}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x000001E548A5FBE0>, 'name': 'Royal Perth Hospital', 'cylinder_d': 0, 'cylinder_f8': 0, 'cylinder_g': 0, 'total': 1.75, 'cylinder_c': 1, 'purchase_id': 34, 'cylinder_e': 0, 'cylinder_f9': 0, 'date': '01-12-2017'}

In [16]:
from flask import Flask
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na'
db = SQLAlchemy(app)

C:\Users\Dale\anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:872: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [29]:
for i in range(1, len(final_df)):
    
    print(final_df.loc[i, 'cylinder_f8'])
    
#     name = final_df.loc[i, 'name']
#     cylinder_c = final_df.loc[i, 'cylinder_c']
#     cylinder_d = final_df.loc[i, 'cylinder_d']
#     cylinder_e = final_df.loc[i, 'cylinder_e']
#     cylinder_f8 = final_df.loc[i, 'cylinder_f8']
#     cylinder_f9 = final_df.loc[i, 'cylinder_f9']
#     cylinder_g = final_df.loc[i, 'cylinder_g']
#     date = final_df.loc[i, 'date']
#     total = final_df.loc[i, 'total']

#     new_purchase = Purchases(name=hospital, cylinder_c=cylinder_c, cylinder_d=cylinder_d,
#                                 cylinder_e=cylinder_e, cylinder_f8=cylinder_f8, cylinder_f9=cylinder_f9,
#                                 cylinder_g=cylinder_g, date=date, total=total)

#     db.session.add(new_purchase)
#     db.session.commit() 
#     print(new_purchase)

0
2
0
0
1
0
0
0
0
1
0
0
0
1
1
1
0
1
0
0
0
2
0
0
4
0
0
0
1
0
2
0
0
1
0
0
0
1
0
0
1
2
0
2
0
0
0
0
1
0
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
4
0
1
0
0
1
0
0
0
0
0
1
0
2
0
1
2
0
0
0
0
0
2
1
0
2
2
0
0
0
1
0
1
0
1
0
0
0
1
2
0
1
0
1
1
0
0
1
0
0
2
1
0
0
0
0
4
0
0
0
2
0
1
0
2
0
1
0
0
0
1
0
1
2
0
0
2
0
1
0
1
0
0
0
0
2
1
0
0
1
0
1
1
0
1
0
2
0
2
2
0
0
1
0
0
0
1
1
1
1
0
0
0
0
0
0
1
0
0
0
0
0
1
1
1
0
0
1
2
1
0
2
0
1
1
1
1
0
0
0
0
2
0
0
1
1
0
1
0
0
1
1
1
0
1
2
0
0
1
1
2
0
1
1
0
1
0
0
0
0
0
0
1
1
0
0
1
0
0
1
0
0
0
1
0
1

In [24]:
class Purchases(db.Model):
    purchase_id = db.Column(db.Integer, primary_key=True)
    name = db.Column(db.String(200))
    cylinder_c = db.Column(db.Integer)
    cylinder_d = db.Column(db.Integer)
    cylinder_e = db.Column(db.Integer)
    cylinder_f8 = db.Column(db.Integer)
    cylinder_f9 = db.Column(db.Integer)
    cylinder_g = db.Column(db.Integer)
    date = db.Column(db.String(200))
    total = db.Column(db.Float)

    def __repr__(self):
        return '<Name %r>' % self.purchase_id

purchase_query = Purchases.query.all()
purchase_data = [u.__dict__ for u in purchase_query]
for row in purchase_data:
    print(row)

In [26]:
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = 'postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na'
db = SQLAlchemy(app)

db.session.query(Purchases).delete()
db.session.commit()

C:\Users\Dale\anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:872: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [32]:
records = final_df.to_records(index=False)
table_data = list(records)
print(table_data)

[('1/01/2017', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/01/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/01/2017', 'Fiona Stanley Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/01/2017', 'Kalamunda District Community Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/01/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/01/2017', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/01/2017', 'Sir Charles Gairdner Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/02/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/02/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/03/2017', 'Bentley Hospital', 0, 0, 4, 0, 0, 0, 67.2), ('1/03/2017', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/03/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/03/2017', 'Sir Charles Gairdner Hospital', 1, 2, 0, 0, 0, 0, 14.95), ('1/03/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/03/2017', 'Royal Perth Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/04/2017', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2017', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/04/2017', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2017', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/05/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/05/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/05/2017', 'Sir Charles Gairdner Hospital', 1, 2, 0, 2, 0, 0, 480.95), ('1/05/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/05/2017', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/05/2017', "Perth Children's Hospital", 0, 0, 0, 4, 0, 0, 932.), ('1/06/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/06/2017', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/06/2017', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/07/2017', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/07/2017', 'Fiona Stanley Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/07/2017', 'Kalamunda District Community Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/07/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/07/2017', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/07/2017', 'Royal Perth Hospital', 2, 0, 0, 0, 0, 0, 3.5), ('1/07/2017', "Perth Children's Hospital", 0, 0, 0, 0, 0, 2, 73.2), ('1/08/2017', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/08/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/08/2017', 'Sir Charles Gairdner Hospital', 0, -1, 0, 0, 0, 0, -6.6), ('1/08/2017', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 3, 342.8), ('1/08/2017', "Perth Children's Hospital", 0, 1, 0, 2, 0, 0, 472.6), ('1/09/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/09/2017', 'Fiona Stanley Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/09/2017', 'Kalamunda District Community Hospital', 0, 0, 6, 0, 0, 0, 100.8), ('1/09/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/09/2017', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/09/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 16, 585.6), ('1/10/2017', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/10/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/10/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/10/2017', 'Sir Charles Gairdner Hospital', 0, 2, 0, 0, 0, 0, 13.2), ('1/11/2017', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/11/2017', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/11/2017', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/11/2017', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/12/2017', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/12/2017', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/01/2018', 'Armadale-Kelmscott Memorial Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/01/2018', 'Kalamunda District Community Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/01/2018', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/01/2018', 'Rockingham General Hospital', 4, 0, 0, 0, 0, 0, 7.), ('1/01/2018', 'Sir Charles Gairdner Hospital', 0, 2, 0, 0, 0, 0, 13.2), ('1/01/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/02/2018', 'Bentley Hospital', 0, 0, 3, 0, 0, 0, 50.4), ('1/02/2018', 'Fiona Stanley Hospital', 0, 0, 0, 4, 0, 0, 932.), ('1/02/2018', 'King Edward Memorial Hospital For Women', 0, 2, 0, 0, 0, 0, 13.2), ('1/02/2018', 'Royal Perth Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/03/2018', 'Bentley Hospital', 0, 0, 1, 0, 0, 0, 16.8), ('1/03/2018', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/03/2018', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/03/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/04/2018', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/04/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/05/2018', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/05/2018', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/05/2018', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/05/2018', "Perth Children's Hospital", 1, 0, 0, 0, 0, 0, 1.75), ('1/06/2018', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/06/2018', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/06/2018', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/06/2018', 'Sir Charles Gairdner Hospital', 0, 3, 0, 2, 0, 0, 485.8), ('1/06/2018', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/06/2018', "Perth Children's Hospital", 2, 0, 0, 0, 0, 0, 3.5), ('1/07/2018', 'Bentley Hospital', 0, 0, 4, 0, 0, 0, 67.2), ('1/07/2018', 'Osborne Park Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/07/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/07/2018', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/08/2018', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/08/2018', 'Bentley Hospital', 0, 0, 2, 0, 0, 0, 33.6), ('1/08/2018', 'Fiona Stanley Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/08/2018', 'Sir Charles Gairdner Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/08/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/09/2018', 'Bentley Hospital', 0, 0, 4, 0, 0, 0, 67.2), ('1/09/2018', 'Fiona Stanley Hospital', 0, 0, 0, 0, 0, 0, 0.), ('1/09/2018', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/09/2018', 'Sir Charles Gairdner Hospital', 0, 2, 0, 0, 0, 0, 13.2), ('1/10/2018', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/10/2018', 'Bentley Hospital', 0, 0, 2, 0, 0, 6, 253.2), ('1/10/2018', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/10/2018', 'Kalamunda District Community Hospital', 0, 0, 1, 0, 0, 0, 16.8), ('1/10/2018', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/10/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 16, 585.6), ('1/10/2018', 'Royal Perth Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/10/2018', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/11/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/11/2018', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/11/2018', "Perth Children's Hospital", 1, 0, 0, 0, 0, 0, 1.75), ('1/12/2018', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2018', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2018', 'Sir Charles Gairdner Hospital', 0, 3, 0, 0, 0, 0, 19.8), ('1/12/2018', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/12/2018', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/01/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/01/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 8, 292.8), ('1/01/2019', 'Sir Charles Gairdner Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/02/2019', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/02/2019', 'Sir Charles Gairdner Hospital', 1, 1, 0, 0, 0, 0, 8.35), ('1/02/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/02/2019', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/03/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/03/2019', 'Fiona Stanley Hospital', 0, 0, 0, 4, 0, 0, 932.), ('1/03/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/03/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/03/2019', 'Royal Perth Hospital', 2, 0, 0, 0, 0, 0, 3.5), ('1/03/2019', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/04/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 1, 36.6), ('1/04/2019', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/04/2019', 'Royal Perth Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/05/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/05/2019', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/06/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/06/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 3, 109.8), ('1/06/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/07/2019', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/07/2019', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2019', 'Sir Charles Gairdner Hospital', 1, 0, 0, 2, 0, 0, 467.75), ('1/07/2019', 'King Edward Memorial Hospital For Women', 0, 1, 0, 0, 0, 0, 6.6), ('1/07/2019', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/07/2019', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/08/2019', 'Armadale-Kelmscott Memorial Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/08/2019', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/08/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/08/2019', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/08/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 24, 878.4), ('1/08/2019', "Perth Children's Hospital", 2, 0, 0, 0, 0, 0, 3.5), ('1/09/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/09/2019', 'Rockingham General Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/10/2019', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/10/2019', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/10/2019', 'Osborne Park Hospital', 2, 0, 0, 0, 0, 4, 149.9), ('1/11/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/11/2019', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/11/2019', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/11/2019', 'Royal Perth Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/12/2019', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2019', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/12/2019', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2019', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/12/2019', 'Rockingham General Hospital', 1, 0, 0, 2, 0, 0, 467.75), ('1/12/2019', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/12/2019', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/01/2020', 'Sir Charles Gairdner Hospital', 0, 1, 0, 2, 0, 0, 472.6), ('1/01/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/01/2020', "Perth Children's Hospital", 0, 3, 0, 0, 0, 0, 19.8), ('1/02/2020', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/02/2020', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/02/2020', 'Osborne Park Hospital', 2, 0, 0, 0, 0, 4, 149.9), ('1/02/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/03/2020', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/03/2020', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2020', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2020', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2020', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/04/2020', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/04/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/06/2020', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/06/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/06/2020', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/07/2020', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2020', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/07/2020', 'Rockingham General Hospital', 2, 0, 0, 0, 0, 0, 3.5), ('1/07/2020', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/07/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/07/2020', "Perth Children's Hospital", 1, 0, 0, 0, 0, 0, 1.75), ('1/08/2020', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/08/2020', 'Rockingham General Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/09/2020', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/09/2020', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/09/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/09/2020', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/09/2020', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/10/2020', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/10/2020', 'Rockingham General Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/10/2020', 'Sir Charles Gairdner Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/10/2020', 'King Edward Memorial Hospital For Women', 0, 1, 0, 0, 0, 8, 299.4), ('1/11/2020', 'Rockingham General Hospital', 2, 0, 0, 1, 0, 0, 236.5), ('1/11/2020', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2020', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2020', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2020', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/12/2020', 'Sir Charles Gairdner Hospital', 0, 2, 0, 0, 0, 0, 13.2), ('1/12/2020', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/12/2020', 'Royal Perth Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/12/2020', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/01/2021', 'Bentley Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/01/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/02/2021', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/02/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/03/2021', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/03/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/03/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/03/2021', "Perth Children's Hospital", 0, 0, 0, 0, 0, 1, 36.6), ('1/04/2021', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2021', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2021', 'Rockingham General Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/04/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/04/2021', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/04/2021', "Perth Children's Hospital", 0, 0, 0, 2, 0, 0, 466.), ('1/05/2021', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/05/2021', 'Royal Perth Hospital', 3, 3, 0, 0, 0, 0, 25.05), ('1/06/2021', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/06/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/06/2021', 'Sir Charles Gairdner Hospital', 0, 0, 0, 2, 0, 0, 466.), ('1/06/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/06/2021', 'Royal Perth Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2021', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2021', 'Bentley Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/07/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/07/2021', 'King Edward Memorial Hospital For Women', 1, 0, 2, 0, 0, 0, 35.35), ('1/08/2021', 'Osborne Park Hospital', 1, 0, 0, 0, 0, 4, 148.15), ('1/08/2021', 'Rockingham General Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/08/2021', 'Sir Charles Gairdner Hospital', 0, 1, 0, 0, 0, 0, 6.6), ('1/08/2021', 'King Edward Memorial Hospital For Women', 2, 0, 0, 0, 0, 0, 3.5), ('1/08/2021', "Perth Children's Hospital", 2, 0, 0, 0, 0, 0, 3.5), ('1/09/2021', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/09/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/09/2021', "Perth Children's Hospital", -2, 0, 0, 0, 0, 0, -3.5), ('1/10/2021', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/10/2021', 'Rockingham General Hospital', 1, 0, 0, 1, 0, 0, 234.75), ('1/10/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 6, 219.6), ('1/10/2021', 'Royal Perth Hospital', 0, 0, 0, 0, 0, 3, 109.8), ('1/11/2021', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/11/2021', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 4, 146.4), ('1/11/2021', 'Sir Charles Gairdner Hospital', 1, 0, 0, 0, 0, 0, 1.75), ('1/11/2021', 'King Edward Memorial Hospital For Women', 0, 0, 0, 0, 0, 8, 292.8), ('1/12/2021', 'Fiona Stanley Hospital', 0, 0, 0, 1, 0, 0, 233.), ('1/12/2021', 'Osborne Park Hospital', 0, 0, 0, 0, 0, 2, 73.2), ('1/12/2021', 'Rockingham General Hospital', 0, 0, 0, 1, 0, 0, 233.)]

In [39]:
from sqlalchemy import create_engine
import psycopg2

conn = psycopg2.connect("dbname='d8uun7vml6l2na' user='xvgqssimiaylqo' password='91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f' host='ec2-44-206-89-185.compute-1.amazonaws.com' port='5432'")

# create_engine('postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na')
cur=conn.cursor()

In [50]:
query = """
        INSERT INTO Purchases (date, name, cylinder_c, cylinder_d, cylinder_e, cylinder_f8,
        cylinder_f9, cylinder_g, total) VALUES (?,?,?,?,?,?,?,?,?)
        """

cur.execute(query, table_data[0])
conn.commit()

# cur.execute("INSERT INTO store (item, quantity, price) VALUES (%s, %s, %s);", (item, quantity, price))

SyntaxError: syntax error at or near ","
LINE 3:         cylinder_f9, cylinder_g, total) VALUES (?,?,?,?,?,?,...
                                                         ^

In [48]:
table_data[0]

('1/01/2017', 'Armadale-Kelmscott Memorial Hospital', 0, 0, 0, 1, 0, 0, 233.)

In [35]:
final_df.columns

Index(['date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8',
       'cylinder_f9', 'cylinder_g', 'total'],
      dtype='object')