In [2]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [ ]:
metro_df = pd.read_csv("metro_clean.csv")
metro_df

In [42]:
from google.colab import drive
drive.mount('/content/drive')

metro_df = pd.read_csv("/content/drive/MyDrive/Data Analytics/Practice/Nitrous DB/nitrous/data/metro_clean.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
metro_df.rename(columns={"hospital":"name"}, inplace=True)
metro_df

          date                                   name     cylinder  units
0    1/01/2017   Armadale-Kelmscott Memorial Hospital  cylinder_f8      1
1    1/01/2017                       Bentley Hospital   cylinder_e      2
2    1/01/2017                 Fiona Stanley Hospital  cylinder_f8      2
3    1/01/2017  Kalamunda District Community Hospital   cylinder_e      2
4    1/01/2017                  Osborne Park Hospital   cylinder_g      4
..         ...                                    ...          ...    ...
301  1/11/2021                  Osborne Park Hospital   cylinder_g      4
302  1/11/2021          Sir Charles Gairdner Hospital   cylinder_c      1
303  1/12/2021                 Fiona Stanley Hospital  cylinder_f8      1
304  1/12/2021                  Osborne Park Hospital   cylinder_g      2
305  1/12/2021            Rockingham General Hospital  cylinder_f8      1

[306 rows x 4 columns]

In [44]:
metro_df['name'].unique()

array(['Armadale-Kelmscott Memorial Hospital', 'Bentley Hospital',
       'Fiona Stanley Hospital', 'Kalamunda District Community Hospital',
       'Osborne Park Hospital', 'Rockingham General Hospital',
       'Sir Charles Gairdner Hospital',
       'King Edward Memorial Hospital For Women', 'Royal Perth Hospital',
       "Perth Children's Hospital", 'METRO HEALTH SERVICE BOARD'],
      dtype=object)

In [45]:
metro_df = metro_df[metro_df['name'] != 'METRO HEALTH SERVICE BOARD']
metro_df

          date                                   name     cylinder  units
0    1/01/2017   Armadale-Kelmscott Memorial Hospital  cylinder_f8      1
1    1/01/2017                       Bentley Hospital   cylinder_e      2
2    1/01/2017                 Fiona Stanley Hospital  cylinder_f8      2
3    1/01/2017  Kalamunda District Community Hospital   cylinder_e      2
4    1/01/2017                  Osborne Park Hospital   cylinder_g      4
..         ...                                    ...          ...    ...
301  1/11/2021                  Osborne Park Hospital   cylinder_g      4
302  1/11/2021          Sir Charles Gairdner Hospital   cylinder_c      1
303  1/12/2021                 Fiona Stanley Hospital  cylinder_f8      1
304  1/12/2021                  Osborne Park Hospital   cylinder_g      2
305  1/12/2021            Rockingham General Hospital  cylinder_f8      1

[283 rows x 4 columns]

In [46]:
metro_df[['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 
          'cylinder_g', 'total']] = ["", "", "", "", "", "", ""]
metro_df

,date,name,cylinder,units,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,cylinder_f8,1,,,,,,,
1,1/01/2017,Bentley Hospital,cylinder_e,2,,,,,,,
2,1/01/2017,Fiona Stanley Hospital,cylinder_f8,2,,,,,,,
3,1/01/2017,Kalamunda District Community Hospital,cylinder_e,2,,,,,,,
4,1/01/2017,Osborne Park Hospital,cylinder_g,4,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
301,1/11/2021,Osborne Park Hospital,cylinder_g,4,,,,,,,
302,1/11/2021,Sir Charles Gairdner Hospital,cylinder_c,1,,,,,,,
303,1/12/2021,Fiona Stanley Hospital,cylinder_f8,1,,,,,,,
304,1/12/2021,Osborne Park Hospital,cylinder_g,2,,,,,,,
305,1/12/2021,Rockingham General Hospital,cylinder_f8,1,,,,,,,

In [47]:
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g', 'total']

for index, row in metro_df.iterrows():
    cylinder = row['cylinder']
    for item in cylinder_list:
        if item == cylinder:
            metro_df.loc[index, item] = row['units']
        else:
            metro_df.loc[index, item] = 0
    
metro_df

,date,name,cylinder,units,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,cylinder_f8,1,0,0,0,1,0,0,0
1,1/01/2017,Bentley Hospital,cylinder_e,2,0,0,2,0,0,0,0
2,1/01/2017,Fiona Stanley Hospital,cylinder_f8,2,0,0,0,2,0,0,0
3,1/01/2017,Kalamunda District Community Hospital,cylinder_e,2,0,0,2,0,0,0,0
4,1/01/2017,Osborne Park Hospital,cylinder_g,4,0,0,0,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...
301,1/11/2021,Osborne Park Hospital,cylinder_g,4,0,0,0,0,0,4,0
302,1/11/2021,Sir Charles Gairdner Hospital,cylinder_c,1,1,0,0,0,0,0,0
303,1/12/2021,Fiona Stanley Hospital,cylinder_f8,1,0,0,0,1,0,0,0
304,1/12/2021,Osborne Park Hospital,cylinder_g,2,0,0,0,0,0,2,0
305,1/12/2021,Rockingham General Hospital,cylinder_f8,1,0,0,0,1,0,0,0

In [48]:
merged_data = pd.DataFrame(columns={'date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g'})

purchase_dates = metro_df['date'].unique()
hospital_list = metro_df['name'].unique()
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']

for date in purchase_dates:
    for hospital in hospital_list:
        # did the current hospital have a purchase on this date         
        current_hosp = metro_df[metro_df['name'] == hospital]
        matched_purchase_dates = current_hosp[current_hosp['date'] == date]
        
        # if so, iterate through the purchases on this date and add to merged df        
        if (len(matched_purchase_dates) != 0):
                      
            # temp df to append to the final merged data
            new_row = pd.DataFrame(columns={'date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g'})
            new_row.loc[0, 'date'] = date
            new_row.loc[0, 'name'] = hospital
            
            # add each cylinder purchase to the new row and append
            for index, row in matched_purchase_dates.iterrows():
                for item in cylinder_list:
                    
                    if row[item] != 0:
                        new_row[item][0] = row[item]

                    elif (row[item] == 0) & (pd.isnull(new_row[item][0]) == True):
                        new_row.loc[0, item] = 0
                    
            merged_data = merged_data.append(new_row).reset_index(drop=True)
                        
merged_data = merged_data[['date', 'name', 'cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']]
merged_data

,date,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0
1,1/01/2017,Bentley Hospital,0,0,2,0,0,0
2,1/01/2017,Fiona Stanley Hospital,0,0,0,2,0,0
3,1/01/2017,Kalamunda District Community Hospital,0,0,2,0,0,0
4,1/01/2017,Osborne Park Hospital,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...
247,1/11/2021,Sir Charles Gairdner Hospital,1,0,0,0,0,0
248,1/11/2021,King Edward Memorial Hospital For Women,0,0,0,0,0,8
249,1/12/2021,Fiona Stanley Hospital,0,0,0,1,0,0
250,1/12/2021,Osborne Park Hospital,0,0,0,0,0,2
251,1/12/2021,Rockingham General Hospital,0,0,0,1,0,0

In [49]:
# Add total column
final_df = merged_data.copy()
cylinder_list = ['cylinder_c', 'cylinder_d', 'cylinder_e', 'cylinder_f8', 'cylinder_f9', 'cylinder_g']

# Helper function to return total 
def total_calculator(row):
    total = 0
    amount = 0
    
    for cylinder in cylinder_list:
        if cylinder == 'cylinder_c':
            amount = row[cylinder] * 1.75
        elif cylinder == 'cylinder_d':
            amount = row[cylinder] * 6.6
        elif cylinder == 'cylinder_e':
            amount = row[cylinder] * 16.8
        elif cylinder == 'cylinder_f8':
            amount = row[cylinder] * 233
        elif cylinder == 'cylinder_f9':
            amount = row[cylinder] * 223
        elif cylinder == 'cylinder_g':
            amount = row[cylinder] * 36.6
            
        total += amount
    
    return(float(total))

for row in range (0, len(final_df)):
    total = total_calculator(final_df.iloc[[row]])
    final_df.loc[row, 'total'] = total
    
final_df

,date,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0,233.00
1,1/01/2017,Bentley Hospital,0,0,2,0,0,0,33.60
2,1/01/2017,Fiona Stanley Hospital,0,0,0,2,0,0,466.00
3,1/01/2017,Kalamunda District Community Hospital,0,0,2,0,0,0,33.60
4,1/01/2017,Osborne Park Hospital,0,0,0,0,0,4,146.40
...,...,...,...,...,...,...,...,...,...
247,1/11/2021,Sir Charles Gairdner Hospital,1,0,0,0,0,0,1.75
248,1/11/2021,King Edward Memorial Hospital For Women,0,0,0,0,0,8,292.80
249,1/12/2021,Fiona Stanley Hospital,0,0,0,1,0,0,233.00
250,1/12/2021,Osborne Park Hospital,0,0,0,0,0,2,73.20
251,1/12/2021,Rockingham General Hospital,0,0,0,1,0,0,233.00

In [50]:
final_df = final_df.round({'total': 1})
final_df

,date,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,total
0,1/01/2017,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0,233.0
1,1/01/2017,Bentley Hospital,0,0,2,0,0,0,33.6
2,1/01/2017,Fiona Stanley Hospital,0,0,0,2,0,0,466.0
3,1/01/2017,Kalamunda District Community Hospital,0,0,2,0,0,0,33.6
4,1/01/2017,Osborne Park Hospital,0,0,0,0,0,4,146.4
...,...,...,...,...,...,...,...,...,...
247,1/11/2021,Sir Charles Gairdner Hospital,1,0,0,0,0,0,1.8
248,1/11/2021,King Edward Memorial Hospital For Women,0,0,0,0,0,8,292.8
249,1/12/2021,Fiona Stanley Hospital,0,0,0,1,0,0,233.0
250,1/12/2021,Osborne Park Hospital,0,0,0,0,0,2,73.2
251,1/12/2021,Rockingham General Hospital,0,0,0,1,0,0,233.0

In [ ]:
# Write to CSV
final_df.to_csv(outname, index=False, encoding='utf-8')

In [51]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na')

final_df.to_sql("purchases", engine, if_exists="append", index=False)

In [27]:
from sqlalchemy.engine.create import create_engine

engine = create_engine('postgresql://xvgqssimiaylqo:91d15f5f6ca8c1040e8c893a726d452048416d88a86a65ab4d8603ab4ac8990f@ec2-44-206-89-185.compute-1.amazonaws.com:5432/d8uun7vml6l2na')

result = pd.read_sql_table(
	"purchases",  # table name
	con=engine
)

result

,purchase_id,name,cylinder_c,cylinder_d,cylinder_e,cylinder_f8,cylinder_f9,cylinder_g,date,total
0,735,Armadale-Kelmscott Memorial Hospital,0,0,0,1,0,0,1/01/2017,233.0
1,736,Bentley Hospital,0,0,2,0,0,0,1/01/2017,33.6
2,737,Fiona Stanley Hospital,0,0,0,2,0,0,1/01/2017,466.0
3,738,Kalamunda District Community Hospital,0,0,2,0,0,0,1/01/2017,33.6
4,739,Osborne Park Hospital,0,0,0,0,0,4,1/01/2017,146.4
...,...,...,...,...,...,...,...,...,...,...
713,1473,Albany Hospital,0,0,0,0,0,2,1/12/2021,73.2
714,1474,Kununurra Hospital,2,0,2,0,0,0,1/12/2021,37.1
715,1475,Geraldton Hospital,0,0,0,0,0,2,1/12/2021,73.2
716,1476,Warren Hospital,0,0,0,0,0,4,1/12/2021,146.4
717,1477,Margaret River Hospital,0,0,0,0,0,1,1/12/2021,36.6

In [38]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float

meta = MetaData()

purchases = Table(
   'purchases', meta, 
   Column('purchase_id', Integer, primary_key = True), 
   Column('name', String), 
   Column('cylinder_c', Integer),
   Column('cylinder_d', Integer), 
   Column('cylinder_e', Integer),
   Column('cylinder_f8', Integer),
   Column('cylinder_f9', Integer),
   Column('cylinder_g', Integer),
   Column('date', String), 
   Column('total', Float)
)

delete = purchases.delete()
engine.execute(delete)